@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

.body{
    background-color: white !important;
    background-image: url(/imagenes/Fondo\ Definitivo.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 30%;
}

#cardtotal{
    margin-top: 10%;
}
.card-title{
    font-size:25px !important;
}
.card-title, .card-text{
color: white;
}
.card-text{
    font-family: 'Josefin Sans',sans-serif;
}

.card-body{
    max-width: 400px;
    width: 300px;
    height: 500px;
    margin-left: -10%;
    border-color:black !
}
.btn{
    background-color: yellow !important;
    font-family: 'Josefin Sans', sans-serif !important;
    border-color: white !important;
    color: black !important;
    width: 40%;
    margin-top: 0%;
    margin-bottom: 2%;
}
@media screen and(min-width:768px){
    .card{
      color:hsl(187, 48%, 42%) !important
    }
    

}


.btnGood, .btnBad, .btnRegular{
    
    flex-direction: row !important;
   
    margin-top: 15% !important;
    margin-bottom: 0%;
    opacity: 0;
    color: black !important;
    
    
}
.card-text{
    margin-top: 10%;
}


/* Weather App */
.a{
   
    background-attachment: fixed;
    width:340px !important;
    font-family: 'Josefin Sans', sans-serif !important;
    display:flex !important;
    flex-direction: row ;
    margin-top: -240% !important;
    margin-left: 10%;
    

}
.contenedor{
    margin-top: 3% !important;
    margin-right: 10% !important;
    align-items: center;
}
.name{
    font-size: 20px;
    font-weight: 900;
}
.temperature{
    font-size: 20px;
}
.description, .pressure{
    font-style:oblique;
    font-weight: 400;
    font-size: 15px;
}



