@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

.body{
    background-color: white !important;
    background-image: url(/imagenes/fondo\ 1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30%;
}

#cardtotal{
    margin-top: 10%;
}
.card{
    background-image: url(/imagenes/fondo\ card.svg) !important;
    background-size: 80%;
   background-repeat:no-repeat;
    align-items: center;
    text-align: center;
    margin-left: 32%;
    margin-top:8%;
    border-color: rgb(21, 20, 20) !important;
    width:400px !important;
    height: 270px !important;
    color: rgb(2, 2, 2);
   font-family: 'Josefin Sans', sans-serif !important;
  
}
.card-body{
    max-width: 400px;
    width: 300px;
    height: 500px;
    margin-left: -10%;
    border-color:black !
}
.btn{
    background-color: yellow !important;
    font-family: 'Josefin Sans', sans-serif !important;
    border-color: white !important;
    width: 40%;
    margin-top: 0%;
    margin-bottom: 2%;
}
@media screen and(min-width:768px){
    .card{
      color:hsl(187, 48%, 42%) !important
    }
    

}
.btnGood, .btnBad, .btnRegular{
    
    margin-top: 15% !important;
    margin-bottom: 0%;
    opacity: 0;
    color: black !important;
    
    
}
.card-text{
    margin-top: 10%;
}

.card1{
    width: 200px !important; 
    height: 200px !important;
    background-color:rgb(205, 200, 200)
}
/* Weather App */
.a{
   
    background-attachment: fixed;
    background-size: 350px;
    width:340px !important;
    font-family: 'Josefin Sans', sans-serif !important;
    display:flex !important;
    flex-direction: column !important;
    margin-top: -240% !important;
    margin-left: 10%;
    

}
.contenedor{
    margin-top: 3% !important;
    
    margin-right: 10% !important;
    align-items: center;
}
.name{
    font-size: 20px;
    font-weight: 900;
}
.temperature{
    font-size: 20px;
}
.description, .pressure{
    font-style:oblique;
    font-weight: 400;
    font-size: 15px;
}



